# Compiled objects.
/*/target
/target

# OS-Specific junk.
.DS_Store

# Non-environment projects
/*/

# Environment projects
!/eclipse-config/
!/.idea
/.idea/workspace.xml
/.idea/libraries
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations
/.idea/vcs.xml
*.iml
